body{
   background-color: rgb(116, 143, 223);
}
nav ul {
    display:flex;
    justify-content:space-between;
    text-decoration:none;
    
    
}
li{
list-style-type: none;
 text-decoration: none;

}
NavLink,ul,il{
    text-decoration: none;
 
}
button{
    color: rgb(150, 37, 37);
}
form{
    color: rgb(24, 25, 26);
}